<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Cryptocurrency tracker</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/">BTC</a></li>
                <li><a href="/eth">ETH</a></li>
                <li><a href="#">Other Crypto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Background information</h2>
<p>
    This website was created as a personal project to track and plot live data into
    candlestick charts. The charts display various data points such as volume, high,
    low, open and close klines for a selected cryptocurrency. The charts are updated
    in real-time, providing users with the latest data on the selected cryptocurrency. Currently
    only BTC and ETH have the chart functionality.

    In the "Other Crypto" section you can find live prices of many crypto currencies which are also being updated live,
    however for these do not come with candlestick charts, only raw stats such as price and price change over the last 24h.
</p>
<h2>How it Works</h2>
<p>
    This website uses the BinanceAPI to fetch all the data required for the candlestick
    charts. The BinanceAPI is a powerful tool that allows developers to access real-time
    market data for a wide range of cryptocurrencies. The website utilises automatic
    page reloads to ensure that the data displayed on the charts is always fresh and up-to-date.
</p>
<h2>Features</h2>
<p>
    The main feature of this website is the candlestick charts. The charts display
    data points such as volume, high, low, open and close klines for a selected
    cryptocurrency. Users can select a specific cryptocurrency from a dropdown
    list and the charts will update to display the latest data for that cryptocurrency.
    In addition to the charts, there is also a live price ticker that displays the current
    price of the selected cryptocurrency.

    In the "Other Crypto" section you can find other popular crypto currencies live price and their
    price change in the last 24 hours.
</p>
<h2>Future Plans</h2>
<p>
    This website is a personal project that I started purely for fun and to learn new skills.
    However, I have plans to add more features in the future. Some of the features I am
    considering include adding more data points to the charts, adding the ability to
    compare multiple cryptocurrencies on the same chart, and adding a news feed to
    provide users with the latest news and updates on the cryptocurrency market.
</p>

        </section>

    </main>
    <footer class="footer">
        <p>&copy; 2023 My Web Page. All rights reserved.</p>
    </footer>
</body>

</html>